@use '../../mixins.scss' as *;
.circle {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: $yellow-gradient;
  opacity: 50%;
  z-index: -1;

  filter: blur(10px);

  @include twoK {
    width: 175px;
    height: 175px;
  }

  @include laptop {
    width: 150px;
    height: 150px;
  }

  @include tablet {
    width: 175px;
    height: 175px;
  }

  @include mobile {
    width: 115px;
    height: 115px;
  }
}

.circle.purple {
  background: $purple-gradient;
}

.circle.blue {
  background: $blue-gradient;
}

.circle.red {
  background: $red-gradient;
}
